{{template "admin" .}}

{{define "content"}}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <h2>Add new category</h2>
  <br>
    <form method="post" action="/tcats/new" novalidate>
    
      <div class="form-group mt-3">
          <label for="name">Name</label>
          <input  class="form-control"  id="name" autocomplete="off"
                name='name' value="" required>
      </div>

      <div class="form-group mt-3" >
          <label for="desc">Description</label>
          <input class="form-control" 
                  id="desc" autocomplete="off"
                name='desc' value="" required>
      </div>
      <hr>
      <input type="submit" class="btn btn-primary" value="Submit">
  </form>
</main>



{{end}}

  
