{{template "admin" .}}

{{define "content"}}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  {{$tdata := index .Data "tdata"}}
  <h2>Transaction details</h2>
  <br>
  <form method="get" action="/dashboard/tdata/update" novalidate>
  <input type="hidden" name="id" value="{{$tdata.Id}}">
  <input type="submit" class="btn btn-sm btn-warning" value="update">

  </form>
    <br>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <tbody>
          <tr>
            <td>Name</td>
            <td>{{$tdata.Name}}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{$tdata.Description}}</td>
          </tr>
          <tr>
            <td>Quote</td>
            <td>{{$tdata.TransactionQuote}}</td>
          </tr>
          <tr>
            <td>Date</td>
            <td>{{$tdata.TransactionDate}}</td>
          </tr>
          <tr>
            <td>Repeat Untill</td>
            <td>{{$tdata.RepeatUntil}}</td>
          </tr>
          <tr>
            <td>Created at</td>
            <td>{{$tdata.CreatedAt}}</td>
          </tr>
          <tr>
            <td>Updated at</td>
            <td>{{$tdata.UpdatedAt}}</td>
          </tr>

        </tbody>
      </table>
    </div>

  <h4>Type</h4>
  <br>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <tbody>
          <tr>
            <td>Name</td>
            <td>{{$tdata.TransactionType.Name}}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{$tdata.TransactionType.Description}}</td>
          </tr>
          <tr>
            <td>Created at</td>
            <td>{{$tdata.TransactionType.CreatedAt}}</td>
          </tr>
          <tr>
            <td>Updated at</td>
            <td>{{$tdata.TransactionType.UpdatedAt}}</td>
          </tr>
        </tbody>
      </table>
    </div>


  <h4>Category</h4>
  <br>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <tbody>
          <tr>
            <td>Name</td>
            <td>{{$tdata.TransactionCategory.Name}}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{$tdata.TransactionCategory.Description}}</td>
          </tr>
          <tr>
            <td>Created at</td>
            <td>{{$tdata.TransactionCategory.CreatedAt}}</td>
          </tr>
          <tr>
            <td>Updated at</td>
            <td>{{$tdata.TransactionCategory.UpdatedAt}}</td>
          </tr>

        </tbody>
      </table>

    </div>
  {{if gt $tdata.TransactionRecurence.Id 1}}
  <h4>Recurence</h4>
  <br>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <tbody>
          <tr>
            <td>Name</td>
            <td>{{$tdata.TransactionRecurence.Name}}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{$tdata.TransactionRecurence.Description}}</td>
          </tr>
          <tr>
            <td>Add time</td>
            <td>{{$tdata.TransactionRecurence.AddTime}}</td>
          </tr>
          <tr>
            <td>Created at</td>
            <td>{{$tdata.TransactionRecurence.CreatedAt}}</td>
          </tr>
          <tr>
            <td>Updated at</td>
            <td>{{$tdata.TransactionRecurence.UpdatedAt}}</td>
          </tr>

        </tbody>
      </table>
      {{end}}
                <form method="post" action="/dashboard/tdata/delete" novalidate>
      <input type="hidden" name="id" value="{{$tdata.Id}}">
      <td><input type="submit" class="btn btn-sm btn-danger" value="delete"></td>
    </form>
    </div>

</main>



{{end}}

  
